* {box-sizing:border-box;}
	body {
		background-color: #269b78;

		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;

		color: rgb(0, 0, 0);
		font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size:min(25px, max(5vw, 5px));
		
		margin:0;
	}

	form{text-align:left;}
	.titulo{
		font-size:1.5em;
		display: flex;
		align-items: center;
		gap: 15px;
		justify-content: center;
	}
	.titulo #tipo{
		font-size:min(23px, max(5vw, 5px));
		background-color: #000000;
		color:#269b78;
		height: 1.6em;
		padding: 0 5px;
		outline: 0px;
	}

	input{
		min-width: 50px;
		width: 15vw;
		max-width: 100px;
		padding-left:5px;
		font-size:min(23px, max(5vw, 5px));
		outline: 0px;
		border: 2px solid black;
		background: transparent;
		color: black;
		text-align: center;
	}
	#NumX{
		min-width: 50px;
		width: 15vw;
		max-width: 100px;
		text-align: center;
		padding-right: 20px;
		margin-left:5px;
		display: inline-block;
	}

	
  
